body {
  font-family: Poppins;
  font-weight: 200;
  font-size: 1.25em;
  background-color: #242424;
  color: #e8e8e6;
  scroll-behavior: smooth;
}

img {
  width: 30vw;
  padding: 5vw;
}

img.left {
  float: left;
}

img.right {
  float: right;
}

h3 {
  text-align: center;
}

.company {
  font-family: Oldenburg, regular;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  background-color: rgb(36, 36, 36, .65);
  /* margin: 0; */
  /* margin-top: 50vh; */
  /* text-align: center; */
}

.content-card:first-child h3 {
  position: relative;
  top: 50vh;
  font-weight: 400;
  margin: 0;
  color: #dbd758;
  background-color: rgb(36, 36, 36, .65);
  padding: 0 10vw;
  width: 80vw;
}

a {
  color: #dbd758;
  background-opacity: 
}

a:hover {
  text-decoration: none;
}

#content-container {
  overflow: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100vw;
}

.content-card {
  box-sizing: border-box;
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  padding: 2vh 10vw;
}

#hero {
  text-align: center;
}

.content-card:first-child {
  background-image: url("goats.jpeg");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.center {
  text-align: center;
}

#llc {
  font-size: .35em;
}

@media (max-width: 500px) {
  body {
    font-size: 1em;
   }
 }
